{% extends "layout_basic.html" %}
{% block content %}
<h5 class="text-center display-5">Informations sur le log</h5>
<div class="m-3">
  <div class="row justify-content-end">
    <div class="col-8 border-end">
        <h4 class="text-center pb-4">Niveau d'alerte: {% if criticality.code %}{{ criticality.code }}{% else %}INFO{% endif %}</h4>
        <h5>Machine</h5>
        <div class="input-group pb-3">
          <span class="input-group-text">IP</span>
          <input value="{{ transaction.service.device.ip }}" type="text" aria-label="First name" class="form-control">
          <span class="input-group-text">Port</span>
          <input value="{{ transaction.service.device.port }}" type="text" aria-label="Last name" class="form-control">
        </div>
        <hr>
        <h3>Alerte</h3>

        <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Valeur</th>
                  <th scope="col">Fonction d'alerte</th>
                  <th scope="col">Valeur seuil</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-secondary">
                  <td>{{ transaction.value }}</td>
                  <td>{% if threshold.function == 'MIN' %}Inférieur{% elif threshold.function == 'MAX' %}Supérieur{% elif threshold.function == 'EQUAL' %}Égal{% endif %}</td>
                  <td>{{ threshold.value }}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">
        <div>
          {% if criticality.code == 'DEBUG' %}
              <div class="card text-bg-primary">
                  <div class="card-body text-center">
                    <i class="fa-solid fa-angles-right fa-8x"></i>
                  </div>
              </div>
          {% elif criticality.code == 'INFO' %}
              <div class="card">
                  <div class="card-body text-center">
                    <i class="fa-solid fa-circle-info fa-8x"></i>
                  </div>
              </div>
          {% elif criticality.code == 'NOTICE' %}
              <div class="card text-bg-info">
                  <div class="card-body text-center">
                    <i class="fa-solid fa-circle-info fa-8x"></i>
                  </div>
              </div>
          {% elif criticality.code == 'WARN' %}
              <div class="card text-bg-warning">
                  <div class="card-body text-center">
                    <i class="fa-solid fa-triangle-exclamation fa-8x"></i>
                  </div>
              </div>
          {% elif criticality.code == 'ERROR' or criticality.code == 'CRIT' or criticality.code == 'ALERT' or criticality.code == 'EMERG' %}
              <div class="card text-bg-danger">
                  <div class="card-body text-center">
                    <i class="fa-solid fa-circle-xmark fa-8x"></i>
                  </div>
              </div>
          {% else %}
              <div class="card">
                  <div class="card-body text-center">
                    <i class="fa-solid fa-circle-info fa-8x"></i>
                  </div>
              </div>
          {% endif %}

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Date: {{ transaction.date|date:"d/m/Y" }}</li>
              <li class="list-group-item">Heure: {{ transaction.date|date:"H:i:s" }}</li>
            </ul>
        </div>
        <div class="mt-4 text-center">
            <a href="{% url 'transaction_check' transaction.id threshold.id %}"><button type="submit" class="text-center btn btn-success">
                {% if not transaction.viewed %}
                    <i class="fa-solid fa-check"></i> Marquer comme lu</button>
                {% else %}
                    <i class="fa-solid fa-x"></i> Marquer comme non lu</button>
                {% endif %}

            </a>
        </div>
    </div>
    <div class="col-12">
        <hr>
        <h3>OID</h3>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-i"></i></span>
          <input value="{{ transaction.service.oid.name }}" name="name" type="text" class="form-control" disabled>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-book"></i></span>
          <input value="{{ transaction.service.oid.identifier }}" name="identifier" type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="col-3 d-flex justify-content-end align-items-end">
        <button onclick="closeWindow()" type="submit" class="btn btn-primary"><i class="fa-solid fa-x"></i> Fermer</button>
    </div>
  </div>
</div>
{% endblock %}
{% block script_import %}
<script>
function closeWindow(){
    close()
}
</script>
{% endblock %}