{% extends "services.html" %}
{% block list %}


<div class="container">
  <div class="row">
    <div class="col">
        <div class="my-4 d-flex justify-content-between">
            <h2 class="">Liste des services</h2>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-screwdriver-wrench"></i> Action
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#additem"><i class="fa-solid fa-plus"></i> Ajouter</a></li>
                <li><a class="dropdown-item" href="#" onclick="editservice()"><i class="fa-solid fa-pen"></i> Modifier</a></li>
                <li><a class="dropdown-item" href="#" onclick="showCheckbox()"><i class="fa-solid fa-trash"></i> Supprimer</a></li>
              </ul>
            </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">OID</th>
              <th scope="col">Equipement</th>
            </tr>
          </thead>

          <tbody>
            <form method="post" action="{% url 'service_remove' %}">
            {% csrf_token %}
                {% for service in services %}
                <tr>
                  <th scope="row">
                      <span class="serviceid">{{ service.id }}</span>
                      <input class="d-none form-check-input checkboxdelete" type="checkbox" value="true" name="{{ service.id }}" id="checkbox_remove">
                  </th>
                  <td>{{ service.name }}</td>
                  <td>{{ service.oid.name }}</td>
                  <td>{{ service.device.name }}</td>
                  <td><span type="text" data-bs-toggle="modal" data-bs-target="#edit-item-{{ service.id }}" class="btn-edit d-none btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa-solid fa-pen"></i> Modifier</span></td>
                </tr>
                {% endfor %}
                <button type="submit" class="btn-delete d-none btn btn-danger"><i class="fa-solid fa-trash"></i> Supprimer</button>
            </form>
          </tbody>
        </table>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="additem" tabindex="-1" aria-labelledby="additem" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un service</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form method="post" action="{% url 'service_add' %}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text" id="add-name"><i class="fa-solid fa-i"></i></span>
              <input name="name" type="text" class="form-control" placeholder="Nom" aria-label="Nom" aria-describedby="add-name" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="add-oid"><i class="fa-solid fa-server"></i></span>
              <select name="device" class="form-select" aria-label="Default select example" aria-describedby="add-device" required>
                  <option selected>--------------</option>
                  {% for device in devices %}
                  <option value="{{ device.id }}">{{ device.name }} - {{ device.ip }}:{{ device.port }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="add-oid"><i class="fa-solid fa-book"></i></span>
              <select name="oid" class="form-select" aria-label="Default select example" aria-describedby="add-oid" required>
                  <option selected>--------------</option>
                  {% for oid in oids %}
                  <option value="{{ oid.id }}">{{ oid.name }} - {{ oid.identifier }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Annuler</button>
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Ajouter</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% for service in services %}
<div class="modal fade" id="edit-item-{{ service.id }}" tabindex="-1" aria-labelledby="edit-item-{{ service.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier le service #{{ service.id }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form method="post" action="{% url 'service_edit' service_id=service.id %}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text" id="add-name"><i class="fa-solid fa-i"></i></span>
              <input value="{{ service.name }}" name="name" type="text" class="form-control" placeholder="Nom" aria-label="Nom" aria-describedby="add-name" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="add-oid"><i class="fa-solid fa-server"></i></span>
              <select name="device" class="form-select" aria-label="Default select example" aria-describedby="add-device" required>
                  {% for device in devices %}
                  <option value="{{ device.id }}" {% if device.id == service.device.id %}selected{% endif %}>{{ device.name }} - {{ device.ip }}:{{ device.port }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="add-oid"><i class="fa-solid fa-book"></i></span>
              <select name="oid" class="form-select" aria-label="Default select example" aria-describedby="add-oid" required>
                  {% for oid in oids %}
                  <option value="{{ oid.id }}" {% if oid.id == service.oid.id %}selected{% endif %}>{{ oid.name }} - {{ oid.identifier }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Annuler</button>
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-pen"></i> Modifier</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
<script>
function showCheckbox() {
    console.log('ah')
    serviceid = document.getElementsByClassName('serviceid')
    for (let service of serviceid) {
        service.classList.add('d-none')
    }
    checkboxs = document.getElementsByClassName('checkboxdelete')
    for (let checkbox of checkboxs) {
        console.log(checkbox)
        checkbox.classList.remove('d-none')
    }
    btndelete = document.getElementsByClassName('btn-delete')[0]
    btndelete.classList.remove('d-none')
}

function editservice() {
    btnedit = document.getElementsByClassName('btn-edit')
    for (let btn of btnedit) {
        btn.classList.remove('d-none')
    }
}
</script>
{% endblock %}